section#cat.container-fluid
    .container
        header.row
            .col-md-8.col-md-offset-2
                h1 The Ultimate Pasta Length Editor
                p How to boost the design and developing process with a little help of four paws. True story by Snoop Dogg.

        .row
            .col-md-12
                button.btn.btn-primary Try it for Free

        .client-list
            .row
                .col-md-4.col-md-offset-4
                    p Superpasta trusted and used by multiple companies

            .row
                .col-md-12
                    img.scroll-reveal(
                        src="/images/cat/evernote.svg"
                        alt="Evernote, one of Module 02 clients."
                    )
                    img.scroll-reveal(
                        src="/images/cat/marvel.svg"
                        alt="Marvel Co., one of Module 02 clients."
                    )
                    img.scroll-reveal(
                        src="/images/cat/brazzers.svg"
                        alt="Brazzers Inc., one of Module 02 clients."
                    )
                    img.scroll-reveal(
                        src="/images/cat/motorola.svg"
                        alt="Motorola enjoys to use Module 02 templates."
                    )
                    img.scroll-reveal(
                        src="/images/cat/netflix.svg"
                        alt="Netflix uses Module 02 mocks for all its landing pages."
                    )
                    img.scroll-reveal(
                        src="/images/cat/adobe-systems.svg"
                        alt="Adobe systems, most representative client."
                    )
